body {
    background-color: powderblue;
    font-family: Garamond, Helvetica, Georgia;
}

form {
    background-color: antiquewhite;
    max-width: 250px;
    padding: 25px;
    margin: 25px;
}

input {
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

button {
    display: block;
    margin: auto;
    margin-top: 15px;
    padding: 5px;
}